@import "../../../constansts/variables.scss";
.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-width: 250px;
    min-height: 100vh;
    gap: 40px;
    box-shadow:4px 0px 10px $neu-2;
    background: $light-white;
    font-family: 'lato';
    .logo{
        font-size: 36px;
        font-weight: 700;
        color: $blue;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .tabs{
        font-size: 20px;
        font-weight: 600;
        color: $fade-color;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .tab-item{
            display: flex;
        align-items: center;
        gap: 10px;
        }
    }
}