@import "../../../constansts/variables.scss";
.main-filter{
    background: $light-white;
    box-shadow: 4px 4px 10px $neu-2;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'lato';
    .filter-header{
        font-size: 20px;
        font-weight: 600;

    }
    .filter-items{
        display: flex;
        gap: 30px;
        .item{
            label{
                display: block;
                margin-bottom: 5px;
                font-weight: 500;
            }
            input{
                height: 36px;
                outline: none;
                border: 1px solid $sky-blue;
                border-radius: 10px;
                padding:  0 15px;
            }
        }
    }
}